<!-- <p>dashboard works!</p>
<table  border="1px" cellspacing="0px" width="100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Image</th>
        <th>viewdtails</th>
    </tr>
    <tr *ngFor="let data of singleuser">
        <td>{{data.id}}</td>
        <td>{{data.employee_name}}</td>
        <td>{{data. employee_salary}}</td>
        <td>{{data.employee_age}}</td>
        <td>{{data.profile_image}}</td>
        <td><a [routerLink]="['/user/'+data.id]" >viewdetails</a></td>
    </tr>
    
  </table> -->